body {
    background-color: #17181B;
}

.container {
background-color: #202124;
max-width: 880px;
margin: 0 auto;
}

label {
    color: white;
}

button{
    color: white;
}

#margin {
margin-top:2rem;
overflow: hidden;
}

p {
color: white;

}

li {
color: white;
background-color: #0E1013;

}

a { color: #80868B;}
a:hover { color: #FFFFFF; }

