<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Minnesota Weather!</title>
	<link rel="stylesheet" href="/public/css/foundation.css">

    <script type="text/javascript">
		function ifelsefunction() { 
		
            let url = "/weather/" + document.getElementById("selpage").value
            window.open(url,"_self");
            
		} 
		</script>
</head>
<body>

    <div class="off-canvas-wrapper ">
        <!-- Your menu or Off-canvas content goes here -->
        <div class="off-canvas position-left hide-for-small-only" id="offCanvas" data-off-canvas>
            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>

            <!-- Menu -->
            <ul class="vertical menu" style="background-color:rgb(193, 219, 219)" font="color:white">
                <li><a href="/">Home</a></li>
				<li><a href="/county/">County</a></li>
				<li><a href="/weather/">Weather</a></li>
				<li><a href="/year/">Year</a></li>
            </ul>
           
        </div>
        <div class="grid-x grid-padding-x">
            <button type="button" class="cell large-auto button hide-for-small-only" style="background-color:rgb(65, 122, 122)" data-toggle="offCanvas">More Weather Choices!</button>
        </div>
        <!-- Your page content lives here -->
        <div class="off-canvas-content" data-off-canvas-content>
            <!-- main content within a `grid-container` -->
            <div class="grid-container">
                <!-- `grid-x` represents a row -->
 
                    <div class="ifelsediv">
                    <label>Select A Grouping: </label>
                    <select id="selpage">
         
                    <!--<option value="county">County</option> -->
                    %%SelectionOptions%%

                    
                     
                     </select>
                <button onclick="ifelsefunction()">Apply selected option</button>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="cell large-18" style="background-color: #e7e9e9;">
                        <center><a href="%%previous%%" class="previous">&laquo; Previous</a>
                        <a href="%%next%%" class="next">Next &raquo;</a></center>
                        
                    </div>
                  
                    
            </div>
        </div>
    </div>

    <!-- include before closing <body> tag -->
    <script src="/public/js/vendor.js"></script>
    <script src="/public/js/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>
</body>
<footer class ="hide-for-medium" >
    <div class="grid-x grid-padding-x">
        <div class="cell hide-for-medium" style="background-color:rgb(179, 201, 201)" >
            <h3>More Weather Choices</h3></div>
        <div class="cell hide-for-medium" style="background-color:rgb(179, 201, 201)">
            <a href="/">Home</a></div>  
        <div class="cell hide-for-medium" style="background-color:rgb(179, 201, 201)">
            <a href="/year/" >Year</a></div> 
        <div class="cell hide-for-medium" style="background-color:rgb(179, 201, 201)">
                <a href="/weather/">Weather</a></div> 
        <div class="cell hide-for-medium" style="background-color:rgb(179, 201, 201)">
            <a href="/county/">County</a></div>  
                
    </div>   
</footer>    
</html>